@media screen and (min-width:800px){
    .navigation{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 80%;
    }

    .navigation li{
        display: block;
    }

    #menu{
        display: none;
    }
}